#avatar {
  justify-content: left;
  width: fit-content;
}

#avatar-text {
  color: white;
  padding-left: 0.25em;
  font-size: 2em;
}

#menu-header-inner-row {
  justify-content: left;
  gap: 0.1em;
}

#menu-header-btn {
  background-color: #1f1f1f;
  padding-top: 1em;
  padding-left: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  cursor: pointer;
  user-select: none;
  justify-content: left;
}

#view-profile-text {
  font-size: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  color: gray;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
