.footer {
  font-size: 1em;
  text-align: center;
  margin-top: 33%;
}

.text-link {
  cursor: pointer;
}

#login-form input {
  padding-top: 1em;
  margin-bottom: 0.5em;
}

.submit-button:disabled,
.submit-button:disabled:hover {
  cursor: not-allowed;
  background-color: gray;
  border-color: gray;
}

.submit-button {
  cursor: pointer;
}

.submit-button:hover {
  border-color: #396cd8;
}

.submit-button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.submit-button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .submit-button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  .submit-button:active {
    background-color: #0f0f0f69;
  }
}
