.banner {
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  height: auto;
  flex-shrink: 1;
  padding: 1em 0;
  max-height: 1.75em;
  background-color: #407021;
  border-radius: 0.5em;
}
